{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="container justify-content-center">
    <div class="card">
        <div class="card-header">
            <h6 class="card-title">{{data.platform_name}}</h6>
        </div>
        <form method="post" class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Nick de Minecraft</span>
                <input type="text" class="form-control" name="username" placeholder="{{data.platform_username}}">
            </div>
            <button class="btn btn-primary" type="submit">Cambiar</button>
            <a class="btn btn-secondary" href="{{url_for('.verify')}}" role="button">Actualizar</a>
        </form>
    </div>
    <code>{{data}}</code>
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <img src="{{user.avatar_url}}" class="card-img-top" alt="Foto">
            <div class="card-body">
                <input type="text" class="card-title" value="{{user}}">
                <p class="card-text">Número de Identidad: 1234567890</p>
                <p class="card-text">Fecha de Nacimiento: 01/01/1990</p>
                <p class="card-text">Dirección: Calle Principal, Ciudad</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}